html {
  background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
  background-size: cover;
  height: 100%;
}
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1 {
  text-align: right;
  margin: 5%;
  text-shadow: 5px 5px 15px darkorchid;
  font-size: 50px;
}

#intro {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 25px;
}

#feedback-page {
  text-align: center;
}

#form-main {
  width: 100%;
  float: left;
  padding-top: 0px;
}

#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: 30px;
  margin-left: -260px;
  border-radius: 7px;
}

.montform .feedback-input {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.montform .feedback-input:focus {
  background: #fff;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.montform #name {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-pencil.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.montform #name:focus {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-pencil.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.montform #birthdate {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-calendar.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.montform #birthdate:focus {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-calendar.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.button, .btn {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: darkorchid;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: darkorchid;
}

.btn:hover {
  background-color: whitesmoke;
  color: darkorchid;
}

.montform .submit:hover {
  color: darkorchid;
}

.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  transition: 0.3s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  padding-top: 1px;
  border: 1px solid #888;
  max-width: 70%;
}

.modal-header,
h4 {
  background-color: white;
  color: darkorchid;
  text-align: right;
  font-size: 30px;
}

#modal-text {
  margin-bottom: 5%;
  line-height: 30px;
}
/*Styles for small screens*/

@media only screen and (max-width: 580px) {
  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}
